body {
    background-color: green;
    margin: 0;
    padding: 0;
}

h2 {
    color: yellow;
    font-size: 40px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: 25px auto;
    background: darkblue;
    border: 5px solid yellow;
    border-radius: 25px;
    padding: 20px;
}

.contact-box {
    margin-bottom: 15px;
    width: 100%;
}

.contact-box label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
}

.contact-box input, .contact-box textarea {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    background-color: yellow;
    color: darkblue;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
}

.contact-box textarea {
    height: 100px;
    resize: vertical;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    background-color: yellow;
    color: darkblue;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

/* Mobile S */
@media (max-width: 320px) {
    h2 {
        font-size: 28px;
        padding: 3px;
    }
    .contact-form {
        margin: 30px 10px;
        border: 3px solid black;
    }
    .form-group input,
    .form-group textarea,
    .submit-btn {
        padding: 10px;
        font-size: 16px;
    }
    .form-group label {
        font-size: 16px;
    }
}

/* Mobile M */
@media (min-width: 321px) and (max-width: 375px) {
    h2 {
        font-size: 32px;
        padding: 4px;
    }
    .contact-form {
        margin: 30px 10px;
        border: 4px solid black;
    }
    .form-group input,
    .form-group textarea,
    .submit-btn {
        padding: 11px;
        font-size: 18px;
    }
    .form-group label {
        font-size: 17px;
    }
}

/* Mobile L */
@media (min-width: 376px) and (max-width: 425px) {
    h2 {
        font-size: 36px;
    }
    .contact-form {
        margin: 40px 20px;
    }
    .form-group input,
    .form-group textarea {
        font-size: 18px;
    }
}